# deps
node_modules/

# next build output
.next/
out/

# misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env*.local
!.env.example

# tooling caches
.turbo/
.vercel/
.eslintcache
tsconfig.tsbuildinfo

# editor
.vscode/
.idea/

# scratch
scratch/
tmp/
